@import '../_variables.scss';
//------------------
//  Font styles
//------------------

.sy-type-large {
    font-size: $font-size-large;
}

.sy-type-standard {
    font-size: $font-size-standard;
}

.sy-type-small {
    font-size: $font-size-small;
}