$sy-blue-500: hsl(233, 20%, 50%);
$sy-blue-600: hsl(233, 20%, 40%);
$sy-blue-700: hsl(233, 20%, 30%);
$sy-blue-800: hsl(233, 20%, 20%);
$sy-blue-900: hsl(233, 20%, 10%);

$sy-red-500: hsl(4, 99%, 66%);
$sy-red-600: hsl(357, 26%, 42%);

$sy-green-100: hsl(97, 62%, 80%);
$sy-green-500: hsl(144, 33%, 68%);

$sy-white: hsl(0, 0%, 100%);
$sy-black: hsl(0, 0%, 0%);

$sy-gray-100: hsl(0, 0%, 90%);
$sy-gray-200: hsl(0, 0%, 80%);
$sy-gray-300: hsl(0, 0%, 70%);
$sy-gray-400: hsl(0, 0%, 60%);
$sy-gray-500: hsl(0, 0%, 50%);
$sy-gray-600: hsl(0, 0%, 40%);
$sy-gray-700: hsl(0, 0%, 30%);
$sy-gray-800: hsl(0, 0%, 20%);
$sy-gray-900: hsl(0, 0%, 10%);